@media screen and (max-width: 799px) {
  .video {
    width: 68vw;
    min-height: 450px;
  }
  .search-row input {
    left: 17%;
    width: 79%;
    font-size: 1rem;
  }
  .paging {
    max-width: 270px;
  }
  .paging span {
    box-sizing: border-box;
    line-height: 1.5rem;
  }
}

@media screen and (max-height: 580px) {
  .video {
    min-height: 400px;
  }
  .video .video-information {
    margin-top: -10px;
  }
}

@media screen and (min-width: 800px) {
  .paging span {
    line-height: 2rem;
  }
}

@media screen and (max-height: 800px) {
  .video .description {
    padding-top: 17px;
  }
  .video .video-information {
    height: 6rem;
  }
  .video .description {
    top: 62%;
  }
}

@media screen and (min-height: 800px) {
  .video .video-information {
    height: 9rem;
  }
  .video .description {
    top: 70%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .video {
    width: 32vw;
    max-height: 740px
  }
  .search-row input {
    left: 9%;
    width: 89%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .video {
    width: 26vw;
  }
}

@media screen and (min-width: 1600px) {
  .video {
    width: 19vw;
  }
}

.slider {
  position: relative;
  top: 8vh;
  width: 90vw;
  height: 82vh;
  margin: 0 5vw;
  overflow-x: hidden
}

/* videos component */

.video-container {
  --n: 1;
  --slideIndex:0;
  position: absolute;
  display: flex;
  width: 90vw;
  width: calc(var(--n) * 90vw);
  height: 62vh;
  min-height: 450px;
  overflow-y: hidden;
  transform: translate(calc(var(--xTransition, 0px) + var(--slideIndex)/var(--n)*-100%));
}

.smooth {
  transition: transform calc(var(--shiftSize, 1) * 0.5s) ease-out;
}

.slide {
  position: relative;
  display: flex;
  width: 90vw;
  height: 62vh;
  justify-content: space-around;
  overflow-y: hidden;
}

.video {
  position: relative;
  display: flex;
  flex-shrink: 0;
  max-width: 350px;
  min-width: 270px;
  height: 62vh;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: black;
  background: #ffffff;
  overflow: hidden;
}

.video .thumbnail {
  position: absolute;
  width: 100%;
  height: 38%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.video .thumbnail img {
  position: absolute;
  width: 95%;
  height: 100%;
  margin: 2.5%;
}

.video .thumbnail figcaption {
  position: relative;
  margin: 25% 0;
  text-align: center;
  background: #006600;
}

.video .thumbnail figcaption a {
  font-size: 1.125rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #ffffff;
}

.video .video-information {
  position: relative;
  top: 42%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "author-i author-p"
  "published-i published-p"
  "view-count-i view-count-p";
  width: 80%;
  margin-left: 11%;
  align-items: center;
  justify-items: center;
}

.video-information i {
  display: grid;
  font-size: 2.25rem;
  color: #6f6c6d;
}

.video-information div p {
  display: grid;
  height: 1.3rem;
}

.video-information .author i {
  grid-area: author-i;
}

.video-information .author p {
  grid-area: author-p;
}

.video-information .published i {
  grid-area: published-i;
}

.video-information .published p {
  grid-area: published-p;
}

.video-information .view-count i {
  grid-area: view-count-i;
}

.video-information .view-count p {
  grid-area: view-count-p;
}


.video .description {
  position: absolute;
  display: -webkit-box;
  width: 98%;
  margin: 1%;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* paging component */

.paging {
  position: relative;
  top: 85%;
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
}

.paging span {
  display: none;
  width: 33px;
  height: 33px;
  margin: 5px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background: #ffffff;
  cursor: pointer;
  user-select: none;
}

.paging span:hover {
  background: orange;
}

.paging span:active {
  background: red;
  transform: scale(1.5);
}

.paging span.active {
  background: red;
}
